
.background-image {
  width: 100%;
  height: auto;
}

.overlay-image {
  position: absolute;
  top: 50px;
  left: 50px;
  width: auto;
  height: auto;
}

.overlay-image-1 {
  position: absolute;
  top: 250px;
  left: 50px;
  width: auto;
  height: auto;
}

.overlay-image-2 {
  position: absolute;
  top: 450px;
  left: 50px;
  background-color: aliceblue;
  color: red;
  padding: 15px;
  pointer-events: none;
  font-size: 18px;
  text-align: center;
}

.imgabout {
  margin-left: 0;
}
